<footer>
    <div class="row">
        <div class="col-12" style="display:contents">
            <p><i class="fa-solid fa-phone"></i>&emsp;02-23676070</p>&emsp;
            <p><i class="fa-solid fa-location-dot"></i>&emsp;10673 臺北市大安區基隆路三段130號304室</p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12 p-0" style="display:flex">
            Copyright © ULTRON All Rights Reserved.&emsp;
        </div>
        <div class="col-lg-4 col-md-7 col-12 d-flex p-0">
            <p>建議使用Chrome、Firefox、Safari最新版本瀏覽</p>
        </div>
        <div class="col-lg-2 col-md-5 col-12 d-flex p-0">
            <p>Design By Wenny Chang</p>
        </div>
    </div>
</footer>